{% extends "base.html" %}

{% block content%}

<p align="right"> <a class="button13" href="{% url 'main:main' %}">Main</a></p>
<center><h2>Your profile</h2></center>
{% if profile.avatar %}
    <p><a href="{% url 'user_profile:change_avatar' %}" ><img src="{{ profile.avatar.url }}" width="200" height="300"/></a></p>
{% endif %}
{% if profile.user.first_name %}
    <p>Name: {{ profile.user.first_name }}</p>
{% endif %}
{% if profile.user.last_name %}
    <p>Surname: {{ profile.user.last_name }}</p>
{% endif %}
{% if profile.user.email %}
    <p>E-mail: {{ profile.user.email }}</p>
{% endif %}
{% if profile.site %}
    <p>Site: {{ profile.site }}</p>
{% endif %}
<p>Balance: {{ profile.balance }} {{ profile.currency }}</p>
{% if timeout %}
    <p>{{ timeout}}</p>
{% endif %}
<p><a href="{% url 'user_profile:top_up' %}" >Top up my account</a></p>

<a href="{% url 'user_profile:edit_user_profile' profile.user.id %}" >Edit my profile</a>


{% endblock %}