{% extends "base.html" %}
{% block content %}

<p align="right"><a class="button13" href="{% url 'main:catalog' %}">Catalog</a></p>
<h3>{{ good.title }}</h3>

    {% if good.image %}

    <p><img src="{{ good.image.url }}" width="300" height="200"/></p>
    {% endif %}

    <p>Category:{{ categories }}</p>

    <p>Price: {{ good.price }} {{ good.currency }}</p>
    <p>Rating: {{ good.rating }}</p>
    <p>Amount: {{ good.amount }}</p><div id="am"></div>
    <p>Description: {{ good.description }}</p>
    {% if error %}
        <p>Sorry, goods ran out.</p>
    {% else %}
        <p><a class="button13" href="{% url 'good:add_to_cart' good.id %}">Add to cart</a></p>
    {% endif %}

<p>Comments:</p>
{% for comment in comments %}
    <p>{{ comment.user.user.first_name }} {{ comment.user.user.last_name }} {{ comment.pub_date }} Rating: {{ comment.rating }}<br>
    {{ comment.text }}</p>
    <p>=====================</p>
{% endfor %}

<form action="{% url 'good:good_page' good.id %}" method="POST">{% csrf_token %}

    {{ f.as_p }}
    <p><input type="submit" value="Add new comment"></p>
</form>
{% endblock %}
