{% extends "base.html" %}

{% block content %}
<p align="right"><a class="button13" href="{% url 'main:main' %}" >Main</a></p>
<center><h2>Catalog</h2></center>
<table class="goods">
    <tr>
{% if goods %}
    {% for good in goods %}

            <a href="{% url 'good:good_page' good.id %}" ><img src="{{ good.image.url }}"></a>
            <p>{{ good.title}}</p>
            <p><strong>{{ good.price }} {{ good.currency }}</strong></p>

    {% endfor %}
{% else %}
    Sorry, there are no goods yet.
{% endif %}
    </tr>
</table>

{% endblock %}