{% extends "base.html" %}
{% load static %}
{% block content %}
<script  src="{% static 'js/jquery-1.12.3.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    var maxCount = 1000;

    $("#counter").html(maxCount+" symbols left");

    $("#txt").keyup(function() {
    var revText = this.value.length;

        if (this.value.length > maxCount)
            {
            this.value = this.value.substr(0, maxCount);
            }
        var cnt = (maxCount - revText) + " symbols left";
        if(cnt <= 0){$("#counter").html('0 symbols left');}
        else {$("#counter").html(cnt);}

    });
});
</script>
<p align="right"> <a class="button13" href="{% url 'main:main' %}">Main</a></p>
<form action="{% url 'main:feedback' %}" method="POST">

    {% csrf_token %}

Write your message here: <br/><br/>
    <div id="counter"></div>
    <p><textarea name="message" id="txt"></textarea></p>
<br/>

<p><input type="submit" value="Submit"></p>

</form>

{% endblock %}
